@model HelmoBilite_RC_LM.Models.Livraison

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Livraison</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <input type="hidden" asp-for="LieuChargementId"/>
            <input type="hidden" asp-for="LieuDechargementId"/>
            <input type="hidden" asp-for="Client"/>
            <div class="form-group">
                <label asp-for="LieuChargement.Numero" class="control-label"></label>
                <input asp-for="LieuChargement.Numero" class="form-control"/>
                <span asp-validation-for="LieuChargement.Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LieuChargement.Rue" class="control-label"></label>
                <input asp-for="LieuChargement.Rue" class="form-control"/>
                <span asp-validation-for="LieuChargement.Rue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LieuChargement.CodePostal" class="control-label"></label>
                <input asp-for="LieuChargement.CodePostal" class="form-control"/>
                <span asp-validation-for="LieuChargement.CodePostal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LieuChargement.Ville" class="control-label"></label>
                <input asp-for="LieuChargement.Ville" class="form-control"/>
                <span asp-validation-for="LieuChargement.Ville" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LieuChargement.Pays" class="control-label"></label>
                <input asp-for="LieuChargement.Pays" class="form-control"/>
                <span asp-validation-for="LieuChargement.Pays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LieuDechargement.Numero" class="control-label"></label>
                <input asp-for="LieuDechargement.Numero" class="form-control"/>
                <span asp-validation-for="LieuDechargement.Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LieuDechargement.Rue" class="control-label"></label>
                <input asp-for="LieuDechargement.Rue" class="form-control"/>
                <span asp-validation-for="LieuDechargement.Rue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LieuDechargement.CodePostal" class="control-label"></label>
                <input asp-for="LieuDechargement.CodePostal" class="form-control"/>
                <span asp-validation-for="LieuDechargement.CodePostal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LieuDechargement.Ville" class="control-label"></label>
                <input asp-for="LieuDechargement.Ville" class="form-control"/>
                <span asp-validation-for="LieuDechargement.Ville" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LieuDechargement.Pays" class="control-label"></label>
                <input asp-for="LieuDechargement.Pays" class="form-control"/>
                <span asp-validation-for="LieuDechargement.Pays" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Contenu" class="control-label"></label>
                <input asp-for="Contenu" class="form-control"/>
                <span asp-validation-for="Contenu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateHeureChargement" class="control-label"></label>
                <input asp-for="DateHeureChargement" class="form-control"/>
                <span asp-validation-for="DateHeureChargement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateHeureDechargement" class="control-label"></label>
                <input asp-for="DateHeureDechargement" class="form-control"/>
                <span asp-validation-for="DateHeureDechargement" class="text-danger"></span>
            </div>
            <input asp-for="Statut" type="hidden" class="form-control"/>
            <input asp-for="ClientId" class="form-control" type="hidden"/>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>